


<div class="text-white flex flex-col justify-center items-center m-auto gap-4">
    <h2 class="text-2xl font-semibold md:text-6xl">Welcome</h2>
    <h1 class="text-4xl font-semibold text-[#2acfcf] tracking-wide md:text-7xl">Im Brian Elmo</h1>
    <h2 class="text-3xl md:text-4xl">Front-End Developer</h2>
</div>