---
import LinkNav from "./LinkNav.astro"; 
--- 


<nav class="flex font-bold justify-between bg-[#161b22] p-4 w-full top-0 items-center shadow-2xl md:px-20 fixed">
<img class="w-[40px] rounded-full" src="../1.png" alt="">
   <div class="flex justify-center items-center gap-2"> 
    <LinkNav href="../index" title="Volver " /><i class="fa-solid fa-arrow-right text-white text-xl"></i>
   </div>
</nav>