---
import CardInfo from "./CardInfo";
import ButtonHeader from "./ButtonHeader.astro";


interface Props {
  title: string;
  img: string;
  textHeader: string;
} 


const {title, img, textHeader} = Astro.props;

---

    <div>
      <header class="flex flex-col gap-10 md:justify-center lg:flex-row  g:justify-evenly lg:gap-24 lg:mt-10 lg:px-40 lg:py-10 md:h-[80vh] min-[300px]:h-[90vh] min-[300px]:text-xs">
        <div class="w-full flex items-center justify-center">
          <img
            class="w-full md:w-full lg:max-w-[600px] lg:max-h-[600px] lg:rounded-lg"
            src={img}
            alt=""
          />
        </div>
        <div class="flex flex-col justify-center gap-8 px-10 max-w-[1000px] max-[768px]:pb-20">
          <div class="flex flex-col gap-5 w-full md:max-w-[1000px]">
            <h1 class="text-white text-4xl ld:text-6xl font-bold lg:text-5xl">
              {title}
            </h1>
            <p class="text-white lg:text-xl">{textHeader}</p>
          </div>
          <ButtonHeader color="white" name="Contactar" widht='200px'/>
        </div>
      </header>
    </div>
  

